[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-dotenv = "*"

[packages]
zappa = "*"
pandas = "*"
pynamodb = "*"
xlrd = "*"
s3fs = "*"
flask = "*"

[scripts]
package = "zappa package dev -o build.zip"

[requires]
python_version = "3.7"
